<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

<context:annotation-config/>
<context:component-scan base-package="com.ssi"/>


<bean id="customer1" class="com.ssi.Customer">
	<property name="code" value="1111"/>		
	<property name="cname" value="AAA"/>
	<property name="email" value="abc@gmail.com"/>	
</bean>

<bean id="address1" class="com.ssi.Address">
	<property name="hno" value="501"/>
	<property name="street" value="xyz street"/>
	<property name="city" value="indore"/>
</bean>
<bean id="card1" class="com.ssi.Card">
	<property name="cardNo" value="12345"/>
	<property name="ctype" value="Platinum"/>
</bean> 
<bean id="card2" class="com.ssi.Card">
	<property name="cardNo" value="89898"/>
	<property name="ctype" value="Gold"/>
</bean> 
</beans>
